<?php

if(!defined('PB_DOCUMENT_PATH')){
	die( '-1');
}

// define('PB_DEV', true);
// define('PB_SHOW_DATABASE_ERROR', PB_DEV);

define('PB_CHARSET', 'UTF-8');

define('PB_DB_CONNECTION_TYPE', 'pdo'); //mysql, mysqli, pdo
define('PB_DB_HOST', '');
define('PB_DB_PORT', '');
define('PB_DB_USERNAME', '');
define('PB_DB_USERPASS', '');
define('PB_DB_NAME', '');
define('PB_DB_CHARSET', 'utf8');

define("PB_CRYPT_PASSWORD", "~W.7bNa[~$+aeP>u");
// define("PB_CRYPT_ALGORITHM", "");
// define("PB_CRYPT_BITS", "");

// define("PB_DEFAULT_LOCALE", 'ko_KR');

// define("PB_HTTPS", true);

// define("PB_UPLOAD_MAX_IMAGE_WIDTH", 2000);
// define("PB_UPLOAD_MAX_IMAGE_HEIGHT", 2000);

define("PB_WYSIWYG_EDITOR", "summernote"); // trumbowyg or summernote

// define("PB_FILE_UPLOAD_HANDLER", "default"); //default or class name

// if you will use AWS S3 Fileupload Handler plugin,
// define("PB_FILE_UPLOAD_HANDLER", "aws");
// define("PB_FILE_UPLOAD_AWS_CLIENT_KEY", "*** Your Access Key ***");
// define("PB_FILE_UPLOAD_AWS_CLIENT_SECRET", "*** Your Access Secret ***");
// define("PB_FILE_UPLOAD_AWS_CLIENT_VERSION", "");
// define("PB_FILE_UPLOAD_AWS_CLIENT_REGION", "");
// define("PB_FILE_UPLOAD_AWS_BUCKET", "");
// define("PB_FILE_UPLOAD_AWS_FILEBASE_URL", "");

define("PB_SESSION_MANAGER", "default"); //default, database or class name;
define("PB_SESSION_MAX_TIME", 60 * 60 * 3);
// define("PB_SESSION_SAVE_PATH", "/tmp");

?>